# Ignore Python bytecode and other Python-related files
backend/*.py[cod]
backend/__pycache__/
backend/*.so

# Ignore Django migrations
backend/app/migrations/

# Ignore virtual environments
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/
backend/.env

# Ignore node_modules
node_modules/
frontend/node_modules/
frontend/.env

# Ignore build output
frontend/dist/
frontend/build/

# Ignore log files
*.log

# Ignore IDE specific files
.vscode/
.git/
.idea/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other temporary files
*.tmp
*.temp
.gitignore
README.md